<form method="post" action="/login" class="well form-inline center" style="text-align:center;">
    <h2>请登录</h2>
    <input id="username" name="username" type="text" class="form-control" placeholder="User Name">
    <input id="password" name="password" type="password" class="form-control" placeholder="Password">
    <button type="submit" class="btn btn-large">登录</button>
</form>